* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(219, 77%, 95%);
    opacity: 0.9;
    color: #86939E;
    font-family: Arial, Helvetica, sans-serif;
}    

h1 {
    text-align: center;
    margin-top:100px;
}

.container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box1 {
    position: relative;
    width:296.55px;
    height:354.21px;
    background-color: white;
    padding: 20px;
}

.box2 {
    position: relative;
    width:296.55px;
    height:354.21px;
    padding: 20px;
    background-color: white;  
    border: 1px solid #58678B;
}

.box3 {
    position: relative;
    width:296.55px;
    height:354.21px;
    padding: 20px;
    background-color: white;
}

h2 {
    margin: 10px 80px;
}

.text1 {
    margin: 10px 15px;
}

.childbox {
    margin-top: 25px;
    margin-left: 0px;
    color: #86939E;
    border: solid #E1E8EE;
}

.childbox2 {
    margin-top: 60px;
    color: #86939E;
    border: solid #E1E8EE;
}

.childbox3 {
    margin-top: 40px;
    color: #86939E;
    border: solid #E1E8EE;
}

input {
    width: 247.12px;
    height: 49.42px;
    background-color: #7DC855;
    margin-top: 20px;
    border: #7DC855;
    color: white;
    border-radius: 5px;
}

.free {
    margin-left: 10px;
    color: #7DC855 ;
}

.details {
    margin-top: 15px;
    display: flex;
    padding: 10px;
}

.text2 {
    margin-left: 10px;
}

.symbol {
    position: absolute;
    right: 10px; 
    top: 5px; 
}



